
body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  color: #66bfbf;
  font-size: 60px;
margin: 50px auto 0 auto;
font-family: 'Sacramento',cursive;
}

h2{
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.1rem;
  padding-bottom: 10px;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr{
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a{
color:  #11999E;
font-family: 'Montserrat', sans-serif;
margin: 10px 20px;
text-decoration: none;
}

a:hover{
  color: #EAF6f6;
}

.top{
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin: 100px 0;
}

.bottom{
  border : 10px;
  width: 200px;
  height: 200px;
  background-color: yellow;
  border: solid 10px;
  margin-left: 450px;
}
.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.top-cloud{
  position: absolute;
  right:   300px;
  top: 40px;
}
.pro{
  text-decoration: underline;

}

.intro{
  width: 30%;
  margin: auto;
  line-height: 1.5;
}
.woody{
  width: 200px;
  margin: 10px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.computer{
  width: 25%;
  float: left;
  margin-right:30px;
}

.chill{
  width: 25%;
  float: right;
  margin-right: 20px;
}

.float{
  padding-left: 190px;

}
.copyright-message{
  color:  #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
  line-height: 2;
}
.classname {
	-moz-box-shadow: 0px 0px 0px 2px #f0f0f0;
	-webkit-box-shadow: 0px 0px 0px 2px #f0f0f0;
	box-shadow: 0px 0px 0px 2px #f0f0f0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #30e3cb), color-stop(1, #2bc4ad) );
	background:-moz-linear-gradient( center top, #30e3cb 5%, #2bc4ad 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#30e3cb', endColorstr='#2bc4ad');
	background-color:#30e3cb;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
text-indent:0;
	border:1px solid #ebecf0;
	display:inline-block;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:38px;
	line-height:38px;
width:148px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #5780e6;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2bc4ad), color-stop(1, #30e3cb) );
	background:-moz-linear-gradient( center top, #2bc4ad 5%, #30e3cb 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2bc4ad', endColorstr='#30e3cb');
	background-color:#2bc4ad;
}.classname:active {
	position:relative;
	top:1px;
